node_modules
.next/
.vercel
*.log
.env.development.local
.env.test.local
.env.production.local
.env.local
.next/cache
.next/cache/webpack
.next/cache/webpack/client-development
.next/cache/webpack/client-development/*.pack.gz
.next/static/chunks/webpack.js
.next/static/chunks
.next/trace
.env.local
