node_modules
.next/
.vercel
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next
out

# Next.js cache
.next/cache/
.next/cache/webpack/
.next/cache/webpack/client-development/
.next/cache/webpack/client-development/0.pack.gz
